#box {
    width: 100%;
    /*height: 2322px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: rgba(242, 242, 242, 1);
}

.header {
    width: 100%;
    height: 373px;
    background: red;
}

.header_null {
    height: 126px;
}

/*
搜索框
 */
.search_hader {
    width: 45%;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 2%;

    font-family: 黑体;
    border-right: 1px solid black;
}
.search_hader>div>a>input{
    width: 16px;
    height: 16px;
}
.search_hader>div{
    display: flex;
align-items: center;
    width: 100%;
    margin-right: 20%;
}
.search_hader>div>a{
    width: 100%;
}
checkboxFour>input{
    display: none;
}
#checkboxFourInput{
    display: none;
}
#checkboxFourInputs{
    display: none;
}
.checkboxFour {

    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid #9999;
}

.checkboxFour label {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;

    background: white;

}
.checkboxFour input[type=checkbox]:checked + label {
    background: black;
}
.search_hader a {
    width: 20%;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;

}

/*.search_hader input:first-of-type {*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    margin-right: 10px;*/
/*    margin-left: 30px;*/
/*    !*border-radius: 100%;*!*/
/*}*/


/*.search_hader input:last-of-type {*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    margin-right: 10px;*/
/*    margin-left: 10px;*/
/*}*/

.search_hader span:last-child {
    margin-right: 50px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    margin: -26px 0 0 0;
    width: 1200px;
    height: 60px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;

}

.search_s {

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60px;
    font-size:18px;
    border: 0px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    background: rgba(66, 48, 106, 1);
    border-radius: 0px 4px 4px 0px;
    margin-right: -1%;
}
.search_ss {
    margin-left: -48.9%;
    position: relative;
    width: 50%;
    height: 60px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px 4px 4px 0px;

}
.weitu{
    cursor: pointer;
    margin-left: -86px;
    position: relative;
    width: 86px;
    height: 82px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px 4px 4px 0px;
}
.search_search
{
    width: 100%;
}

.search_search input {
    float: left;
    outline:none;
    padding-left: 4%;
    height: 58px;
    width: 116%;
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 20px;
    border: 0px;
}

.search_condition
{
    width: 100%;
    display: flex;
}

.search_condition_s {
    width: 30%;
    display: flex;
    align-items: center;
    border-left: 1px solid black;
    margin-left: 20%;
}

.search_condition_s img {
    margin-left: 20%;
}

/*
内容
 */
.containe {

    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containe_content_box {
    box-sizing: border-box;
    margin-top: 60px;
    width: 1200px;
    /*margin-left: 360px;*/
    height: 380px;
    background: rgba(255, 255, 255, 1);
    display: flex;
}
.containe_content_boxs{
    box-sizing: border-box;
    margin-top: 40px;
    width: 1200px;
    /*margin-left: 360px;*/
    height: 380px;
    background: rgba(255, 255, 255, 1);
    display: flex;
}
.qiehuan{
    display: flex;
    align-items: center;
    width: 50%;
}
.containe_content_img {
    width:600px;
    height: 45px;
    display: flex;
    position: absolute;
    z-index: 1;
    margin-top: 166px;
}
.button_xia{
    display: flex;
    position: relative;
    margin-left: -40px;
    margin-right: 20px;
    width:22px;
    height:40px;


}
.button_shang{
    display: flex;
    position: relative;
    margin-left: 18px;
    margin-right: -40px;
    width:22px;
    height:40px;
}
.button_xia1{
    display: flex;
    position: absolute;
    width:22px;
    height:40px;
    z-index: 1;
    left: 47%;
}
.button_shang1{
    display: flex;
    position: absolute;
z-index: 1;
    margin-left: 1%;
    width:22px;
    height:40px;
}
.containe_content {
    width: 600px;
    margin-left: 20px;
    margin-top: 20px;

}

.containe_content_titile {
    width: 100%;
    height: 37px;
    font-size: 26px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 37px;
}

.containe_content_price {
    width: 100%;
    height: 45px;
    font-size: 32px;
    font-weight: bold;
    color: rgba(208, 2, 27, 1);
    line-height: 45px;

}

.containe_content_univalence {
    display: flex;

}
.containe_content_univalence a{
    margin-right: 2%;
}
.containe_content_univalence div:first-of-type {
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
}

.containe_content_univalence div:last-of-type {
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
}

.containe_content_state, .containe_content_browse, containe_content_univalence, .containe_content_titile {
    font-family: PingFang-SC-Medium;
}

.containe_content_state {
    margin-top: 30px;
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 20px;
}

.containe_content_browse {
    margin-top: 10px;
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 20px;

}

.containe_content_footer {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.containe_content_footer_left {
    display: flex;
    margin-top: 5%;

width: 100%;
}

.containe_content_footer_right {
    width: 45%;

    /*margin-right: 20px;*/
}

.content_footer_left {
    margin-top: 20px;
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
    margin-top: -1%;
}

.content_footer_right {
    width: 100%;
    display: flex;
}
.weitus{
    border-radius: 100%;
}
.content_footer_textb {
    width: 100%;
    height: 17px;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    line-height: 17px;
}

.content_footer_texta {
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
}

.content_footer_textc {
    width: 100%;
    height: 17px;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 17px;
}

.content_footer_center > span {

}


.images_shade {
    width: 100%;
    height: 45px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.images_poto {

    background: rgba(255, 255, 255, 1);

}

.images_shade_new {
    margin-left: 10px;
    width: 42px;
    height: 20px;
    background: rgba(247, 181, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.images_shade_right {
    display: flex;
    align-items: center;
}
.images_shade_right a{
    text-decoration: none;
}
.images_shade_right > div {
    display: flex;
}
.shoucang div{
    margin-bottom: 2%;
    width: 24px;
    height: 15px;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 17px;
    margin-right: 20px;
    margin-left: 10px;
}
.shoucang{
    display: flex;
    align-items: center;

}
.images_shade_right span {
    width: 24px;
    height: 17px;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 17px;
    margin-right: 20px;
    margin-left: 10px;
}

.images_shade_new span {
    width: 23px;
    height: 14px;
    font-size: 10px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 14px;


}

.content_footer_center {
    display: flex;
    margin-left: 10px;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.containe_content_developers {
    display: flex;
    align-items: center;
}
.renzheng{
    width:112px;
    height:54px;
}
.yirenzheng{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 16px;
    background: #9ACD32;
    font-size: 10px;
    margin-left: 11px;
    color: rgba(255, 255, 200, 0.5);
}
.containe_content_developers span {
    width: 42px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 20px;

}

.containe_content_developers img {
    margin-left: 10px;

}

.containe_content_poto {
    margin-top: 17%;
    margin-left: 10px;
    display: flex;
    align-items: center;

}

.containe_content_poto img {
    margin-right: 6%;
}

.containe_content_poto span {
    width: 9px;
    height: 20px;
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    line-height: 20px;
    /*margin-left: 4%;*/
    margin-right: 6%;
}

/*

 */

.load {

    align-items: center;
    justify-content: center;
    display: flex;
    width: 1200px;
    height: 68px;
    background: rgba(221, 221, 221, 1);
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 10%;
}

.load span {
    width: 96px;
    height: 33px;
    font-size: 24px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 33px;
}


/*

 */
.searcha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 0 0;
    width: 80%;
    height: 60px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
.shizhou_a{
    width:62px;
    height:24px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(204,204,204,1);
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:20px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 5px;

}
.shizhou_b{
    width:62px;
    height:24px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(204,204,204,1);
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:20px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.bo{
    margin-left: 20px;
}
.queren{
    width:56px;
    height:24px;
    background:rgba(249,249,249,1);
    border:1px solid rgba(204,204,204,1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(102,102,102,1);
    margin-left: 20px;
}

/*
筛选
 */

.dq {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    overflow: hidden
}

.dq a {
    padding: 9px 15px;
    text-decoration: none;
    cursor: pointer
}

.dq .dq_hover {
    background: #E01313;
    color: #fff;
    font-weight: 700;
}

.menhutxt {
    float: right;
    display: inline-block;
    padding: 3px 8px;
    border: 1px solid #E01313;
    color: #E01313;
    text-decoration: none;
    font-size: 16px;
    height: 20px;
    line-height: 19px;
    margin-top: 32px;
    border-radius: 3px
}

.menhutxt:hover {
    text-decoration: none;
    background: #E01313;
    color: #fff
}

.header_site {
    background-position: left bottom;
    height: 58px;
    line-height: normal
}

.header_site .diqutext {
    font-size: 18px;
    font-weight: 700;
    color: #666;
    margin-top: 50px
}

.shizhoulist .diqulist a {
    line-height: 23px;
    height: 23px;
    display: inline-block;
    padding: 0 7px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;

}




.shizhou{
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:20px;
    display: flex;
    align-items: flex-end;
}
.shizhoubox{
    width: 92px;
    height: 51px;
    border-right: 1px solid  rgba(221,221,221,1);
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.shizhoubox>span{
    margin-right: 10px;
}
.diqulists>a{
    color:  rgba(208, 2, 27, 1);

}

.diqulist {

    width:100%;
    height: 51px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(221,221,221,1);
    border-top: none;
    display: flex;
    align-items: center;
}
.diqulists{
    width:100%;
    height: 79px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(221,221,221,1);
    border-top: none;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.diqulist>a {
    color:rgba(51, 51, 51, 1);
    padding: 3px;
    border-radius: 2px;
}
.guojiabox a{
    padding: 3px;
    border-radius: 2px;
}

.diqulist>a:first-of-type{
    margin-left: 5px;
    color:  rgba(208, 2, 27, 1)
}
.diqulist:first-of-type {
    border-top: 1px solid rgba(221, 221, 221, 1);
}
.shizhoulist {
    margin-top: 60px;
    width: 1200px;
        z-index: 150;
}
.shizhouboxs{
    width: 92px;
    height: 140px;
    border-right: 1px solid  rgba(221,221,221,1);
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.diqulistt{
    width:100%;
    height:140px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(221,221,221,1);

    border-top: none;
    display: flex;
}

.shizhouboxs span{
    margin-right: 10px;
}
.diqulistt a{
    text-decoration: none;
}
.diqulistt>a{
    width:34px;
    height:20px;
    font-size:14px;
    padding: 3px;
    border-radius: 2px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(208,2,27,1);
    line-height:20px;
    margin-left: 10px;
    margin-top: 10px;
}
.guojia{
    width: 220px;
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    align-items:center;
}
.guojias{
    margin-left: 62px;
    margin-top: 10px;
    display: flex;
    align-items:center;
}
.guojia>span{
    width:42px;
    height:20px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(66,48,106,1);
    line-height:20px;

}
.guojias>span{
    width:42px;
    height:20px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(66,48,106,1);
    line-height:20px;

}

.guojia_contes{
    width:150px;
    height:56px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:28px;
}
.guojia_contese{
    width:160px;
    height:56px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:28px;
}
.guojia_contese span{
    margin-left: 20px;
}
.guojia_contes span{
    margin-left: 20px;
}
.guojiabox{
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    width: 1070px;
    box-sizing: border-box;
}
.guojiabox a{
    color:rgba(102,102,102,1);
}
.guojia_contess{
    width:523px;
    height:56px;
    font-size:14px;
    color:rgba(102,102,102,1);
    font-family:PingFang-SC-Medium;
    font-weight:500;

    line-height:28px;
    text-align: center;
}

.guojia_contess span{

    margin-left: 40px;
    float: left;
    text-align: center;
}
.guojia img{
    margin-right: 5px;
}
.guojias img{
    margin-right: 5px;
}



.queding{
    display: flex;
    align-items: center;
    justify-content:center;
    width:131px;
    height:48px;
    background:rgba(66,48,106,1);
    border-radius:0px 4px 4px 0px;
    font-size:18px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
}

.quedings{
    margin-right: 30px;
}








* {
    font-size:12px;
    color:#333;
    text-decoration:none;
    padding:0;
    margin:0;
    list-style:none;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}


.lxfscroll {
    width:600px;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.lxfscroll ul li {
    cursor:pointer;
    height: 100%;
    width: 600px;
    text-align: center;
    line-height: 300px;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    font-weight: bold;

}


.lxfscroll1 {
    cursor:pointer;
    width:600px;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    position: relative;
    height: 100%;

}

.lxfscroll1 ul li {
    height: 100%;
    width: 600px;
    text-align: center;
    line-height: 300px;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
}
